{%   extends 'MiniMart/home.html'   %}

{%   block content   %}

            <div  class="col-12 border-primary">
                <h3 style="margin: 20px;"><strong>Password reset sent</strong></h3>
                <div style="border: grey solid 1px; margin-bottom: 20px;" class="card">
                    <div style="margin: 20px;" class="card-body border-secondary">
                        <p class="text-primary">
                           We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                            
                            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                        </p>
                    </div>
                </div>
            </div>


{%   endblock   %}
